@using Funcionarios.Model
@using System.Formats.Asn1
@model IEnumerable<Funcionario>


@{
    ViewData["Title"] = "Inicio";
    var func = ViewData["funcionario"] as Funcionario ?? new();
    var cargos = ViewData["cargos"] as List<Cargo> ?? new List<Cargo>();
}


<div class="text-center">
    <h3 class="display-4">Funcionários</h3>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>

<div class="card">
    <div class="card-body">
        
        @using (Html.BeginForm(
            "Create",
            "Home",
            FormMethod.Post,
            new { @class = "row row-cols-lg-auto g-3 align-items-center" }))
        {
            <input type="hidden" name="Codigo" id="Codigo" value="@func.Codigo" >
            <div class="col-12">
                <label for="Nome" class="sr-only">Nome</label>
                <input type="text" name="Nome" class="form-control" id="Nome" value="@func.Nome">
            </div>
            <div class="col-12">
                <label for="CodigoCargo" class="sr-only">Cargo</label>
                <select class="form-select" name="CodigoCargo" id="CodigoCargo">
                    <option selected>Choose...</option>
                    @foreach (var item in cargos)
                    {
                        @if (@func.CodigoCargo == item.Codigo)
                        {
                            <option  value="@item.Codigo" selected >@item.Nome</option>

                        }
                        else
                        {
                            <option  value="@item.Codigo">@item.Nome</option>
                        }
                    }
                </select>
            </div>
            <div class="col-12">
                <label for="ValorSalario" class="sr-only">Salario</label>
                <input type="number" min="0.00" max="10000.00" step="0.01" class="form-control" name="ValorSalario" value="@func.ValorSalario" id="ValorSalario">
            </div>
            <div class="col-12" style="margin-top: 45px">
                <button type="submit" class="btn btn-primary mb-2">Salvar</button>
            </div>
            <div class="col-12" style="margin-top: 45px">
            @Html.ActionLink("Cancelar", "Index")
            </div>
        }
    </div>
</div>

<div class="container">
<table class="table">
    <thead>
    <tr>
        <th scope="col">cod.</th>
        <th scope="col">Nome</th>
        <th scope="col">Cargo</th>
        <th scope="col">Salario R$</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">@item.Codigo</th>
            <td>@item.Nome</td>
            <td>@item.Cargo</td>
            <td>@item.ValorSalarioStr</td>
            <td>
                            @Html.ActionLink("Edit", "Edit", new { codigo=item.Codigo }) |
                            @Html.ActionLink("Delete", "Delete", new { codigo=item.Codigo })
            </td>
        </tr>
    }
    </tbody>
</table>
</div>
